body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.typing-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid transparent;
}

@media (max-width: 768px) {
  .typing-text {
    font-size: 1.25rem; /* 20px */
  }
}

@media (max-width: 480px) {
  .typing-text {
    font-size: 1rem; /* 16px */
  }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}
